<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Website!</title>
</head>
<body>
    <h1>Members Website</h1>
    <% if (locals.posts) { %>
        <% locals.posts.forEach(post => { %>
            <div>
                <h2><%= post.title %></h2>
                <% if (locals.user && locals.user.member == true)  {%>
                    <h3><%= post.fname %> <%= post.lname %></h3>
                <% } else { %>
                    <h3>Anonymous</h3>
                <% } %>
                <% if (locals.user && locals.user.member == true)  {%>
                    <%= post.time %>
                <% } %>
                <p><%= post.content %></p>
            </div>
        <% }) %>
    <% } %>
    <a href="/signup">Sign Up!</a>
    <a href="/signin">Sign In!</a>
    <% if (locals.user) {%>
        <a href="/secret-page">Upgrade Account</a>
        <a href="/post">Create Post</a>
        <a href="/signout">Sign Out!</a>
    <% } %>
</body>
</html>